:root {
  --white: #fff;
  --black: #000;
  --primary: #4db1e5;
  --primary-dark: #061525;
}

.btn {
  font-family: "Play", sans-serif !important;
  text-transform: uppercase;
}
.btn.v2 {
  color: var(--black);
  background: var(--primary);
  border-color: var(--primary);
}

.bg-primary-v2 {
  background: var(--primary) !important;
}
.bg-dark-v2 {
  background: var(--primary-dark) !important;
}

.about-four {
  position: relative;
  display: flex;
  align-items: end;
}
.about-four .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-four .bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(6, 21, 37, 0.6) 60%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.about-four .container {
  position: relative;
  z-index: 2;
}