:root {
  --white: #fff;
  --black: #000;
  --primary: #4297F3;
  --primary-dark: #1D232F;
}

.btn {
  text-transform: uppercase;
}

.btn.v2 {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-wrapper.btn-shadow {
  position: relative;
}
.btn-wrapper.btn-shadow:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(40px);
  transition: 0.2s;
}
.btn-wrapper.btn-shadow:hover:before {
  opacity: 0;
}

.bg-primary-v2 {
  background: var(--primary) !important;
}

.bg-dark-v2 {
  background: rgba(29, 35, 47, 0.6) !important;
}

.font-play,
.font-play * {
  font-family: Play, sans-serif !important;
}

.font-dm-sans,
.font-dm-sans * {
  font-family: "DM Sans", sans-serif !important;
}

.font-800 {
  font-weight: 800 !important;
}

.font-900 {
  font-weight: 900 !important;
}

.fs-180 {
  font-size: 180px !important;
}

.opacity-15 {
  opacity: 0.15;
}

.text-primary {
  color: var(--primary) !important;
}

.letter-spacing {
  letter-spacing: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
}

section {
  position: relative;
  z-index: 2;
  background-color: var(--white);
}

.main-header .main-menu-logo {
  opacity: 0;
}

.main-header.sticky-fixed .main-menu-logo {
  opacity: 1;
}

.main-header-four.sticky-fixed .main-menu-logo img {
  filter: invert(1) !important;
}

.banner-one,
.banner-two {
  min-height: 100vh;
  background: var(--black);
  position: relative;
  z-index: 2;
}
.banner-one .logo-lg,
.banner-two .logo-lg {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 500px;
}
.banner-one .banner-one-slider-item,
.banner-one .banner-two-slider-item,
.banner-two .banner-one-slider-item,
.banner-two .banner-two-slider-item {
  min-height: 100vh;
  display: flex !important;
  align-items: center;
}
.banner-one .banner-title h1,
.banner-two .banner-title h1 {
  font-weight: 900 !important;
}
.banner-one video,
.banner-two video {
  height: 100%;
  object-fit: cover;
}

.about-four {
  position: relative;
  display: flex;
  align-items: end;
}
.about-four .container {
  position: relative;
  z-index: 2;
}
.about-four .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.about-four .bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(6, 21, 37, 0.6) 60%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.capabilities-video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.services-section-one .service-one-icon-box img {
  filter: brightness(0);
}
.services-section-one .service-one-box .service-one-box-image {
  background-color: var(--primary-dark);
}
.services-section-one .service-one-box .service-one-box-image img {
  display: none;
}
.services-section-one .service-one-box .service-one-box-image:before {
  display: none;
}
.services-section-one .service-one-box:hover .service-one-icon-box img, .services-section-one .service-one-box:focus .service-one-icon-box img {
  filter: unset;
}

.why-choose-section-one {
  position: relative;
}
.why-choose-section-one .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.1;
}
.why-choose-section-one .container {
  position: relative;
  z-index: 2;
}

.capabilities-section {
  background-color: var(--primary-dark);
}
.capabilities-section .capabilities-card {
  padding: 60px 0;
}
.capabilities-section .capabilities-card .product-img img {
  width: 100%;
}
.capabilities-section .capabilities-card .text {
  padding: 40px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.148);
  border-bottom: 2px solid rgba(255, 255, 255, 0.148);
  color: white;
}
.capabilities-section .capabilities-card .option {
  padding: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.148);
  border-right: 2px solid rgba(255, 255, 255, 0.148);
}
.capabilities-section .capabilities-card .option.last {
  border-right: unset;
}
.capabilities-section .capabilities-card .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary);
  margin-bottom: 30px;
}

#team-slider {
  position: relative;
}
#team-slider button.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
  background: none;
  color: var(--primary-dark);
  font-size: 24px;
  line-height: 0;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #fff;
}
#team-slider button.slick-prev.slick-arrow {
  left: 90px;
}
#team-slider button.slick-next.slick-arrow {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

.features-slider-two {
  display: flex;
}
.features-slider-two .slick-track {
  padding: 30px;
}
.features-slider-two .features-two-slider-item h3 {
  color: var(--white);
  margin: 0;
  padding: 0 50px;
  position: relative;
}
.features-slider-two .features-two-slider-item h3:after {
  content: "/";
  position: absolute;
  right: -20px;
}

.cta-two .cta-two-category-title {
  white-space: nowrap;
}

.team {
  position: relative;
  padding-top: 400px;
}
.team .team-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team .container {
  position: relative;
  z-index: 2;
}

.cta-one {
  background-color: var(--primary);
}

ul#services-tab .nav-link span {
  line-height: 35px;
}

.footer-one {
  background-color: var(--primary-dark);
  background-image: url("/img/footer-bg.jpg");
}
.footer-one:before {
  display: none;
}
.footer-one .footer-about::after {
  top: -226px;
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-one .footer-one-link {
  margin: 0;
  padding-left: 40px;
  width: 100%;
}
.footer-one .footer-one-link a {
  font-size: 36px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}
.footer-one .footer-one-link a:hover, .footer-one .footer-one-link a:focus {
  color: var(--primary);
}
.footer-one .footer-lower {
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-nav-wrapper .mobile-nav-content {
  background: var(--primary-dark) url("/img/header-bg.jpg") no-repeat center/cover;
}
.mobile-nav-wrapper .mobile-nav-close {
  width: 15px;
  height: 15px;
  top: 35px;
  right: 35px;
}
.mobile-nav-wrapper .mobile-menu-list {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-nav-wrapper .mobile-menu-list li {
  border-bottom: none;
}
.mobile-nav-wrapper .mobile-menu-list a {
  display: block;
  font-size: 36px;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
}

@media (max-width: 1600px) {
  .fs-180 {
    font-size: 90px !important;
  }
  h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .btn-primary {
    font-size: 14px;
  }
  .banner-one .logo-lg,
  .banner-two .logo-lg {
    top: 40px;
    width: 350px;
  }
  .services-section-one {
    padding: 80px 0;
  }
  .services-section-one .object {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  .services-section-one .service-one-box {
    padding: 20px;
  }
  .services-section-one .service-one-box img {
    width: 40px;
  }
  .about-four h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .team {
    padding-top: 200px;
  }
  .cta-one {
    padding: 40px 0;
  }
  .cta-one .cta-title h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .footer-one .footer-one-link a {
    font-size: 26px;
    line-height: 42px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .main-menu-logo {
    max-width: 190px;
  }
  .main-header .main-menu-logo {
    opacity: 1;
    padding: 10px;
  }
  .header-right-end {
    width: 50px;
    height: 50px;
  }
  .header-right-end span {
    width: 26px;
    height: 3px;
  }
  .header-right-end span:first-child {
    margin-top: -5px;
  }
  .header-right-end span:last-child {
    margin-top: 5px;
  }
  .banner-one .logo-lg,
  .banner-two .logo-lg {
    display: none;
  }
  .banner-one p,
  .banner-two p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .banner-two-info {
    padding: 30px 0 100px 0;
  }
  .banner-two-info h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .banner-two-info .small {
    font-size: 22px;
  }
  .banner-two-info p {
    font-size: 15px;
    line-height: 28px;
  }
  .banner-two-info p.letter-spacing {
    letter-spacing: 0.2em;
    font-size: 12px;
  }
  .capabilities-section .capabilities-card .option {
    border-right: none;
  }
  .capabilities-section .capabilities-card .dot {
    margin-bottom: 20px;
  }
  .mobile-nav-wrapper .mobile-menu-list a {
    font-size: 24px;
    line-height: 50px;
  }
  .features-slider-two .slick-track {
    padding: 20px 0;
  }
  .features-slider-two .features-two-slider-item h3 {
    padding: 0 20px;
    font-size: 14px;
  }
  .heading-subtitle {
    font-size: 12px;
    line-height: 12px;
  }
  .services-section-one .service-one-box img {
    height: auto;
    margin-bottom: 10px;
  }
  .services-section-one .service-one-box h5 {
    font-size: 16px;
  }
  .about-four h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .services-two-inner-bg {
    padding-top: 60px;
  }
  .services-two {
    padding-bottom: 40px;
  }
  ul#services-tab .nav-link span {
    font-size: 18px;
    line-height: 30px;
  }
  .cta-two-box-one {
    margin-bottom: 10px;
  }
  .team .section-details {
    display: none;
  }
  .footer-one .footer-one-about {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-one .footer-one-about-details {
    display: none;
  }
  .footer-one .footer-one-link {
    padding-left: 0;
    margin-bottom: 20px !important;
  }
}
@media only screen and (max-width: 550px) {
  .header-right-end {
    margin-right: 0;
  }
}

/*# sourceMappingURL=globals.css.map */
