:root {
  --white: #fff;
  --black: #000;
  --primary: #4297F3;
  --primary-dark: #1D232F;
}

.btn {
  text-transform: uppercase;
}
.btn.v2 {
  background: var(--primary);
  border-color: var(--primary);
}
.btn-wrapper.btn-shadow {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(40px);
    transition: 0.2s;
  }
  &:hover {
    &:before {
      opacity: 0;
    }
  }
}

.bg-primary-v2 {
  background: var(--primary) !important;
}
.bg-dark-v2 {
  background: rgba(29, 35, 47, 0.6) !important;
}
.bg-primary-dark {
  background: #171D28 !important;
}

.font-play,
.font-play * {
  font-family: Play, sans-serif !important;
}
.font-dm-sans,
.font-dm-sans * {
  font-family: "DM Sans", sans-serif !important;
}
.font-800 {
  font-weight: 800 !important;
}
.font-900 {
  font-weight: 900 !important;
}
.fs-180 {
  font-size: 180px !important;
}
.opacity-15 {
  opacity: 0.15;
}
.text-primary {
  color: var(--primary) !important;
}
.letter-spacing {
  letter-spacing: 0.3rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
}
section {
  position: relative;
  z-index: 2;
  background-color: var(--white);
}

.main-header {
  .main-menu-logo {
    opacity: 0;
  }
}
.main-header#logo-visible,
.main-header.sticky-fixed {
  .main-menu-logo {
    opacity: 1;
  }
}
.main-header-four.sticky-fixed {
  .main-menu-logo {
    img {
      filter: invert(1) !important;
    }
  }
}
.inner-page-hero {
  padding-top: 260px;
  padding-bottom: 80px;
  background-image: url("/img/footer-bg.jpg") !important;
  .object {

  }
}
.banner-one,
.banner-two {
  min-height: 100vh;
  background: var(--primary-dark);
  position: relative;
  z-index: 2;
  .logo-wrapper {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
  }
  .logo-lg {
    width: 500px;
  }
  .banner-one-slider-item,
  .banner-two-slider-item {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
  }
  .banner-title {
    h1 {
      font-weight: 900 !important;
    }
  }
  video {
    height: 100%;
    object-fit: cover;
  }
}
.banner-two.v2 {
  min-height: 100vh;
  background: #171D28;
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    position: absolute;
    right: -400px;
    top: -400px;
    z-index: 2;
    background-color: var(--primary);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    filter: blur(100px);
    opacity: 0.2;
  }
  .container {
    position: relative;
    z-index: 3;
  }
  .banner-title {
    h1 {
      font-weight: 900 !important;
      .small {
        font-size: 110px;
        line-height: 120px;
      }
      .text-gradient {
        background: -webkit-linear-gradient(#fff, var(--primary-dark));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .img-wrapper {
    position: relative;
    z-index: 2;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      background-color: var(--primary);
      border-radius: 50%;
      width: 700px;
      height: 700px;
      filter: blur(100px);
      opacity: 0.2;
    }
    img.obj {
      width: 1000px;
      height: auto;
      margin: -100px auto 0;
      display: block;
      position: relative;
      z-index: 3;
    }
  }
}
.about-four {
  position: relative;
  display: flex;
  align-items: end;
  .container {
    position: relative;
    z-index: 2;
  }
  .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(6, 21, 37, 0.6) 60%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.capabilities-video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.services-section-one {
  .service-one-icon-box {
    img {
      filter: brightness(0);
    }
  }
  .service-one-box {
    .service-one-box-image {
      background-color: var(--primary-dark);
      img {
        display: none;
      }
      &:before {
        display: none;
      }
    }
    &:hover,
    &:focus {
      .service-one-icon-box {
        img {
          filter: unset;
        }
      }
    }
  }
  .service-one-inner.v2 {
    margin: 0;
    border-color: rgba(255, 255, 255, 0.2);
    &:before {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .service-one-icon-box img {
       filter: brightness(1);
    }
    .service-one-box {
      border-top-color: rgba(255, 255, 255, 0.2);
    }
  }

}
.why-choose-section-one {
  position: relative;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}
.capabilities-section {
  background-color: var(--primary-dark);
  .capabilities-card {
    padding: 60px 0;
    .product-img {
      img {
        width: 100%;
      }
    }
    .text {
      padding: 40px 0;
      border-top: 2px solid rgba(255, 255, 255, 0.148);
      border-bottom: 2px solid rgba(255, 255, 255, 0.148);
      color: white;
    }
    .option{
      padding: 20px;
      border-top: 2px solid rgba(255, 255, 255, 0.148);
      border-right: 2px solid rgba(255, 255, 255, 0.148);
      border-bottom: 2px solid rgba(255, 255, 255, 0.148);
    }
    .option.last {
      border-right: unset;
    }
    .dot{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--primary);
      margin-bottom: 30px;
    }
  }
}
#team-slider {
  position: relative;
  button.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999;
    background: none;
    color: var(--primary-dark);
    font-size: 24px;
    line-height: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #fff;
  }
  button.slick-prev.slick-arrow {
    left: 90px;
  }
  button.slick-next.slick-arrow {
    left: auto;
    right: 0;
    transform: rotate(180deg);
  }
}
.features-slider-two {
  display: flex;
  .slick-track {
    padding: 30px;
  }
  .features-two-slider-item {
    h3 {
      color: var(--white);
      margin: 0;
      padding: 0 50px;
      position: relative;
      &:after {
        content: '/';
        position: absolute;
        right: -20px;
      }
    }
  }
}
.cta-two {
  .cta-two-category-title {
    white-space: nowrap;
  }
}
.team {
  position: relative;
  padding-top: 400px;
  .team-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}
.cta-one {
  background-color: var(--primary);
}

ul#services-tab {
  .nav-link {
    span {
      line-height: 35px;
    }
  }
}
.footer-one {
  background-color: var(--primary-dark);
  background-image: url('/img/footer-bg.jpg');
  &:before {
    display: none;
  }
  .footer-about {
    &::after {
      top: -226px;
      background-color: transparent;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .footer-one-link {
    margin: 0;
    padding-left: 40px;
    width: 100%;
    a {
      font-size: 36px;
      line-height: 60px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif !important;
      &:hover,
      &:focus {
        color: var(--primary);
      }
    }
  }
  .footer-lower {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.mobile-nav-wrapper {
  .mobile-nav-content {
    background: var(--primary-dark) url('/img/header-bg.jpg') no-repeat center/cover;
  }
  .mobile-nav-close {
    width: 15px;
    height: 15px;
    top: 35px;
    right: 35px;
  }
  .mobile-menu-list {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    li {
      border-bottom: none;
    }
    a {
      display: block;
      font-size: 36px;
      line-height: 70px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif !important;
    }
  }
}


@media (max-width: 1600px) {
  .fs-180 {
    font-size: 90px !important;
  }
  h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .btn-primary {
    font-size: 14px;
  }
  .banner-one,
  .banner-two {
    .logo-lg {
      top: 40px;
      width: 350px;
    }
  }
  .services-section-one {
    padding: 80px 0;
    .object {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
    .service-one-box {
      padding: 20px;
      img {
        width: 40px;
      }
    }
  }
  .about-four {
    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .team {
    padding-top: 200px;
  }
  .cta-one {
    padding: 40px 0;
    .cta-title {
      h2 {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .footer-one {
    .footer-one-link {
      a {
        font-size: 26px;
        line-height: 42px;
      }
    }
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .main-menu-logo {
    max-width: 190px;
  }
  .main-header {
    .main-menu-logo {
      opacity: 1;
      padding: 10px;
    }
  }
  .header-right-end {
    width: 50px;
    height: 50px;
    span {
      width: 26px;
      height: 3px;
      &:first-child {
        margin-top: -5px;
      }
      &:last-child {
        margin-top: 5px;
      }
    }
  }
  .banner-one,
  .banner-two {
    .logo-lg {
      display: none;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .banner-two-info {
    padding: 30px 0 100px 0;
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
    .small {
      font-size: 22px;
    }
    p {
      font-size: 15px;
      line-height: 28px;
    }
    p.letter-spacing {
      letter-spacing: 0.20em;
      font-size: 12px;
    }

  }
  .capabilities-section {
    .capabilities-card {
      .option{
        border-right: none;
      }
      .dot{
        margin-bottom: 20px;
      }
    }
  }
  .mobile-nav-wrapper {
    .mobile-menu-list {
      a {
        font-size: 24px;
        line-height: 50px;
      }
    }
  }
  .features-slider-two {
    .slick-track {
      padding: 20px 0;
    }
    .features-two-slider-item {
      h3 {
        padding: 0 20px;
        font-size: 14px;
      }
    }
  }
  .heading-subtitle {
    font-size: 12px;
    line-height: 12px;
  }
  .services-section-one {
    .service-one-box {
      img {
        height: auto;
        margin-bottom: 10px;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
  .about-four {
    h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .services-two-inner-bg {
    padding-top: 60px;
  }
  .services-two {
    padding-bottom: 40px;
  }
  ul#services-tab {
    .nav-link {
      span {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .cta-two-box-one {
    margin-bottom: 10px;
  }
  .team {
    .section-details {
      display: none;
    }
  }
  .inner-page-hero {
    padding-top: 100px;
    padding-bottom: 50px;
    p {
      font-size: 12px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .blog-list-section,
  .about-four {
    padding: 50px 0;
  }
  .contact-form,
  .team-one,
  .team-details-section {
    padding: 50px 0;
  }
  .footer-one {
    .footer-one-about {
      text-align: center;
      margin-bottom: 20px;
    }
    .footer-one-about-details {
      display: none;
    }
    .footer-one-link {
      padding-left: 0;
      margin-bottom: 20px !important;
    }
  }
}
@media only screen and (max-width: 550px) {
  .header-right-end {
    margin-right: 0;
  }
}