@media only screen and (max-width:1600px) {
    .topbar-one-right {
        column-gap: 30px;
    }
    .topbar-one-right ul,
    .topbar-one-right ul {
        column-gap: 20px;
    }
    .process-item-one {
        column-gap: 20px;
    }
    .process-one-box {
        min-width: 225px;
    }
    .features-one-form {
        margin-right: 0;
    }
    .features-one-info {
        margin: 0;
    }
    .why-choose-three .logo-column {
        width: 8%;
    }
    .why-choose-logo-shape {
        transform: rotate(270deg) translateX(-140px);
    }
    .why-choose-three .right-column {
        width: 33%;
    }
    .why-choose-three-list li {
        width: 100%;
    }
    .footer-one::after {
        width: 30%;
    }
    .case-studies-two-item {
        padding-left: 40px;
        padding-right: 40px;
    }
    .case-studies-two-item-inner {
        padding-left: 40px;
    }
    .case-studies-two-item-info {
        padding-right: 40px;
    }
    .why-choose-three .custom-container {
        width: 75%;
    }
}

@media only screen and (max-width:1500px) {
    .topbar-one {
        padding-right: 0;
    }
    .main-menu-right {
        margin-right: 0;
    }
    .features-one-image {
        height: 750px;
    }
    .features-one-image img {
        height: 100%;
        object-fit: cover;
    }
    .why-choose-shape-one-2 {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .why-choose-shape-one-1 {
        position: absolute;
        bottom: 10px;
        right: 11px;
    }
    .main-header-three nav.main-menu {
        margin: 0;
    }
    .main-header-three ul.main-menu-list {
        column-gap: 30px;
    }
    .about-three-image {
        top: 0px;
    }
    .why-choose-three .custom-container {
        width: 75%;
    }
    .testimonial-three-background-image {
        top: -430px;
        left: -140px;
    }
}

@media only screen and (max-width:1400px) {
    .partner-slider-logo {
        width: 180px;
        height: 70px;
    }
    .main-menu-logo {
        max-width: 210px;
        flex-shrink: 0;
    }
    .main-menu-logo img {
        padding-right: 15px;
    }
    .main-header-three .main-menu-logo img {
        padding: 0;
    }
    .main-menu-logo::after {
        bottom: -53px;
    }
    .topbar-one {
        margin-left: 223px;
    }
    .process-one-box {
        min-width: 195px;
    }
    .sticky-header--cloned.sticky-fixed .main-menu-logo::after {
        height: 84px;
        bottom: -26px;
    }
    .banner-two ul.slick-dots li {
        width: 200px;
    }
    .banner-two__circle {
        position: absolute;
        right: 30px;
        bottom: 110px;
    }
    .process-two-slider {
        width: 1400px;
    }
    .process-two ul.slick-dots {
        right: 320px;
    }
    .process-two-slider-item {
        padding-right: 20px;
    }
    .case-studies-item-inner-two {
        position: relative;
        width: 570px;
        height: 543px;
    }
    .case-studies-item-inner-two:hover .case-studies-two-details {
        top: 15px;
        left: 15px;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        padding: 15px;
    }
    .testimonial-slider-two {
        margin: 0 30px;
    }
    .cta-three-btn {
        column-gap: 10px;
        justify-content: flex-start;
    }
    .portfolio-tab-content .case-studies-item-inner-two {
        height: 490px;
    }
    .banner-one-info {
        padding-right: 0px;
    }
    .careers-tab-links {
        column-gap: 10px;
    }
    .careers-tab-link {
        font-size: 16px;
    }
    .about-two-left {
        padding-right: 30px;
    }
    .about-two-right {
        padding-left: 30px;
    }
    .about-two-cta-box {
        width: calc(100% - 160px);
    }
    .logo-column {
        display: none;
    }
    .why-choose-three .custom-container {
        width: 80%;
    }
}

@media only screen and (max-width:1300px) {
    .main-header-three ul.main-menu-list {
        display: none;
    }
    .main-header-three nav.main-menu {
        padding: 25px 0;
    }
    .main-header-three .header-right-end {
        display: block;
    }
    .footer-one::after {
        width: 28%;
    }
    .cta-two h2 {
        font-size: 50px;
    }
    .case-studies-two-item {
        padding-left: 30px;
        padding-right: 30px;
    }
    .case-studies-two-item-info {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (max-width:1199px) {
    .banner-one-slider ul.slick-dots {
        right: 48px;
    }
    .banner-one-box {
        right: 92px;
    }
    .features-one-form {
        margin: 20px auto;
    }
    ul.counter-box-one {
        margin-left: 0;
        padding-left: 0;
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
    .process-item-one {
        flex-wrap: wrap;
    }
    .process-one-box {
        max-width: 270px;
    }
    .process-one-box:nth-child(2) .process-one-box-devider::after {
        width: 100%;
    }
    .team-one-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .testimonial-one-right {
        margin-left: 0;
    }
    .footer-one-link {
        margin: auto !important;
    }
    .main-menu-inner {
        padding-top: 0;
    }
    .sticky-header--cloned.sticky-fixed nav.main-menu {
        padding-top: 0;
    }
    .main-header-three.sticky-header--cloned.sticky-fixed nav.main-menu {
        padding-top: 25px;
    }
    nav.main-menu {
        padding-top: 60px;
    }
    .main-menu-logo::after {
        display: none;
    }
    .topbar-one {
        margin-left: 0;
    }
    .case-studies-one ul.slick-dots {
        transform: none;
    }
    .team-one-details {
        padding: 10px;
    }
    .team-one-details h5 {
        font-size: 16px;
    }
    .main-header-two nav.main-menu {
        padding: 0;
    }
    ul#services-tab .nav-link {
        padding: 10px 15px;
        column-gap: 10px;
    }
    ul#services-tab .nav-link h4 {
        font-size: 20px;
    }
    .process-two-slider {
        width: 1200px;
    }
    .testimonial-slider-two-box {
        min-height: 468px;
    }
    .why-choose-three {
        padding: 75px 0;
    }
    .why-choose-three-image {
        display: none;
    }
    .why-choose-three .right-column {
        width: 50%;
    }
    .about-three {
        padding: 100px 0;
    }
    .blog-three-box-image {
        height: 500px;
    }
    .blog-three-box-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .blog-three-box-details {
        max-height: 60px;
    }
    .blog-three-box-details h5 {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .about-four-image {
        height: 100%;
    }
    .main-header-four nav.main-menu {
        padding: 0;
    }
    .contact-location {
        column-gap: 10px;
    }
    .careers-tab-link {
        padding: 10px 10px;
    }
    .portfolio-tab-link {
        flex: none;
        padding: 10px 15px;
        font-size: 20px;
    }
    .portfolio-tab-content .case-studies-item-inner-two {
        height: 510px;
    }
    .footer-one::after {
        width: 38%;
    }
    .case-studies-two-outer {
        flex-direction: column;
    }
    .case-studies-two-item+.case-studies-two-item {
        border-left: none;
    }
    .case-studies-two-item {
        border-bottom: 1px solid rgba(95, 105, 115, .4);
        justify-content: start;
        flex-direction: column;
    }
    .case-studies-two-item-outer {
        flex-direction: row-reverse;
        align-items: center;
        padding: 30px 0 15px;
        width: 100%;
        gap: 20px;
        justify-content: space-between;
    }
    .case-studies-two-item-outer h3 {
        writing-mode: horizontal-tb;
        transform: rotate(0);
        margin-bottom: 0;
    }
    .case-studies-two-item-inner {
        position: relative;
        padding: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        scale: 1;
        transition: all .5s ease;
        transform: scale(0);
    }
    .case-studies-two-item.active .case-studies-two-item-inner {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all .3s ease;
        transition-delay: .5s;
        padding: 30px 0 15px;
        transform: scale(1);
    }
    .testimonial-two button.slick-arrow {
        left: 42%;
    }
    .testimonial-two button.slick-next.slick-arrow {
        left: 55% !important;
    }
    .process-secound-info {
        padding: 130px 125px 130px 0;
    }
    .testimonial-three {
        padding-top: 250px;
    }
    .testimonial-three-background-image {
        top: -480px;
    }
    .why-choose-one-image-2 img {
        top: -180px;
    }
    .careers-tab-links {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .careers-section::after {
        height: 438.5px;
    }
    .footer-about::after {
        height: 150%;
    }
    .why-choose-left-one {
        padding-right: 0px;
    }
    .about-two-cta-box {
        width: 100%;
    }
    .why-choose-three .custom-container {
        width: 100%;
    }
}

@media only screen and (max-width:1024px) {
    .main-menu-logo {
        padding: 22.5px 0;
    }
    .main-header-three .main-menu-logo {
        padding: 0;
    }
    ul.main-menu-list {
        display: none;
    }
    .main-menu-inner {
        align-items: center;
    }
    .header-right-end {
        display: block;
    }
    .main-menu-right {
        margin-left: 0;
    }
    .team-shape-one-2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    .testimonial-three {
        padding-top: 170px;
    }
}

@media only screen and (max-width:991px) {
    ul.topbar-one-info {
        display: none;
    }
    .topbar-one-inner {
        justify-content: center;
    }
    .banner-one-box {
        padding: 24px;
    }
    .service-one-inner {
        margin-left: 0;
        margin-right: 0;
    }
    .service-one-box {
        width: 100%;
    }
    .service-one-inner::before {
        display: none;
    }
    .service-one-box:nth-child(2) {
        border-top: 1px solid #EBEBEB;
    }
    ul.counter-box-one li h6 {
        font-size: 45px;
        line-height: 50px;
    }
    ul.counter-box-one li {
        width: 20%;
    }
    .process-one-box {
        max-width: 215px;
    }
    .case-studies-one-details h4 {
        font-size: 18px;
        line-height: 25px;
    }
    .team-one .col-lg-4:nth-child(even) .team-one-box {
        margin-top: 0px;
    }
    .cta-one .heading-title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .footer-one-link {
        margin: 0 !important;
    }
    ul.features-one-list li {
        width: 100%;
    }
    .footer-one::after {
        width: 50%;
    }
    .process-item-one {
        padding-left: 0;
    }
    .case-studies-one ul.slick-dots {
        right: 50%;
        transform: translateX(50%);
        top: auto;
        bottom: -50px;
    }
    .status {
        font-size: 50px;
    }
    .banner-two ul.slick-dots li {
        width: 130px;
    }
    span.dot-text {
        width: 150%;
        text-align: left;
    }
    .services-two .heading-title {
        margin-bottom: 0px;
    }
    .features-two-slider-item h2 {
        font-size: 30px;
    }
    .features-three-slider-item h3 {
        padding: 10px 20px;
        font-size: 20px;
    }
    ul#services-tab {
        row-gap: 20px;
    }
    ul#services-tab li {
        width: 50%;
    }
    .process-two ul.slick-dots {
        right: auto;
        top: auto;
        bottom: -50px;
    }
    .case-studies-two .slick-track {
        margin-left: 0px;
    }
    .testimonial-slider-two-box {
        min-height: auto;
    }
    .main-header-three .main-menu-right {
        display: none;
    }
    .why-choose-three .logo-column,
    .about-three-image,
    .about-three-points::after {
        display: none;
    }
    .why-choose-three .right-column {
        width: 100%;
    }
    .why-choose-three-counter li {
        justify-content: center;
    }
    .benefits-one-box.middle-box {
        flex-direction: column;
    }
    .about-three-points {
        padding: 0;
        margin: 0;
    }
    .careers-tab-links {
        column-gap: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .careers-tab-link {
        padding: 10px 15px;
    }
    .job-details {
        width: 90%;
    }
    .portfolio-tab-links {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .cta-two h2 {
        font-size: 36px;
        margin-bottom: 0;
        letter-spacing: 0;
    }
    .cta-two-box-one {
        margin-left: 0;
    }
    .cta-two-box-two {
        margin-right: 0;
    }
    .tab-pane.active .services-two-info {
        margin-left: 0px;
    }
    .process-secound-box {
        display: none;
    }
    .process-secound-info {
        padding: 80px;
    }
    .process-secound-section {
        background-size: 24%;
    }
    .testimonial-three-background-image {
        top: -560px;
    }
    .footer-about::after {
        right: 0;
    }
    .why-choose-one-image,
    .why-choose-one-image-2 {
        height: 260px;
    }
}

@media only screen and (max-width:768px) {
    h1 {
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
    .banner-one-info {
        padding: 190px 0 95px;
        height: 860px;
    }
    .banner-one-slider ul.slick-dots {
        right: 10px;
        top: calc(50% + 80px);
    }
    .banner-one-box {
        right: 0px;
    }
    h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .service-one-box {
        padding: 24px;
    }
    .heading-subtitle {
        margin-bottom: 10px;
    }
    .services-section-one .heading-title {
        margin-bottom: 10px;
    }
    .services-section-one .section-details {
        margin-bottom: 30px;
    }
    .case-studies-slider-one button.slick-arrow {
        bottom: -60px;
        top: auto;
    }
    .features-one-image {
        height: 490px;
        width: 100%;
        margin: 0;
    }
    .features-one-image img {
        width: 100%;
    }
    ul.counter-box-one {
        flex-wrap: wrap;
    }
    ul.counter-box-one li {
        width: 45%;
    }
    .process-one-box {
        max-width: 46%;
    }
    .testimonial-one-item p {
        font-size: 18px;
        line-height: 30px;
    }
    .cta-one .heading-title h2 {
        font-size: 24px;
        line-height: 31px;
    }
    .footer-buttom-link ul {
        justify-content: center;
    }
    .features-one-info {
        padding: 30px 0;
    }
    .footer-one::after {
        width: 0%;
    }
    .topbar-two,
    .topbar-three {
        display: none;
    }
    .main-header-two {
        padding: 0;
    }
    .main-header-two .main-menu-right,
    .main-header-four .main-menu-right {
        display: none;
    }
    .banner-two-info {
        padding: 185px 0 306px 0;
    }
    .banner-two-info h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .banner-two-info p {
        letter-spacing: 0.20em;
    }
    .features-box-three-middel {
        height: 350px;
    }
    .footer-two-contact,
    .footer-two-contact .footer-two-contact-inner+.footer-two-contact-inner {
        border: none;
    }
    .footer-two-link {
        margin: 0;
    }
    .footer-copy-right-one {
        text-align: center;
    }
    .single-blog-image-two {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .single-blog-pagination {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .single-blog-pagination-next {
        margin-left: auto;
    }
    .comment-widget-item.reply {
        padding-left: 30px;
    }
    .comment-form-widget .from-group {
        margin-bottom: 20px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .comment-form-widget {
        padding: 40px 15px;
    }
    .careers-tab-item {
        padding: 20px;
    }
    .accordion-body {
        padding: 20px 15px;
    }
    .accordion-button {
        padding: 15px;
    }
    .cta-one {
        padding: 60px 0;
    }
    ul.services-details-list {
        width: 100%;
    }
    .topbar-one {
        display: none;
    }
    nav.main-menu {
        padding-top: 0px;
    }
    .service-one-shape-1,
    .service-one-shape-2,
    .why-choose-shape-one-2,
    .why-choose-shape-one-1,
    .team-shape-one-1,
    .team-shape-one-2,
    .blog-shape-one-1,
    .about-one-shape-1,
    .about-one-shape-2,
    .services-two-shape-one-1,
    .services-two-shape-one-2,
    .case-studies-two-shape-one-1,
    .why-choose-two-shape-1,
    .why-choose-two-shape-2,
    .testimonial-shape-one-1,
    .blog-two-shape-1,
    .blog-two-shape-2,
    .inquiry-shape-one-1,
    .banner-three-shape-2,
    .banner-three-shape-1,
    .services-three-shape-one-1,
    .services-three-shape-one-2,
    .benefits-one-shape-one-1,
    .benefits-one-shape-one-2,
    .about-four-shape-one-1,
    .about-four-shape-one-2 {
        display: none;
    }
    #loan-chart {
        padding: 40px 0px 0;
    }
    .case-studies-two-item-image {
        display: none;
    }
    .case-studies-two-item-info {
        width: 100%;
        padding: 0;
    }
    .case-studies-two-item {
        padding: 10px;
    }
    a.case-studies-two-btn {
        flex-shrink: 0;
    }
    .cta-two-category-box span {
        display: none;
    }
    .cta-two-box-one {
        margin-left: -60px;
    }
    .cta-two-box-two {
        margin-right: -60px;
    }
    .process-two ul.slick-dots {
        left: 148px;
    }
    .process-secound-info {
        padding: 30px;
    }
    .testimonial-three-background-image {
        top: 0;
        transform: none !important;
        height: 100%;
        width: 100%;
    }
    .testimonial-three-background-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .careers-section .heading-title {
        margin-bottom: 30px;
    }
    .footer-about::after {
        right: -130px;
        height: 155%;
    }
    .about-two-left {
        padding-right: 12px;
    }
    .about-two-right {
        padding-left: 12px;
    }
}

@media only screen and (max-width:700px) {
    .banner-one-happy-client {
        font-size: 45px;
        line-height: 50px;
    }
    .banner-one-text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .banner-one-info .section-details p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .banner-one-info {
        padding-right: 50px;
    }
    .banner-two ul.slick-dots {
        display: none !important;
    }
    .banner-two__circle {
        bottom: 80px;
    }
    .case-studies-item-inner-two {
        width: 430px;
        height: 575px;
    }
}

@media only screen and (max-width:550px) {
    .btn-primary,
    .btn-secondary,
    .btn-outline-secondary {
        padding: 5px 15px;
        font-size: 14px;
    }
    .main-menu-right {
        column-gap: 15px;
    }
    .header-right-end {
        margin-right: 20px;
    }
    .why-choose-shape-one-2 {
        right: 10px;
        left: auto;
    }
    .case-studies-one-details h4 {
        font-size: 16px;
    }
    .case-studies-one-details p {
        flex-wrap: wrap;
    }
    .case-studies-one-details p span {
        display: none;
    }
    .service-one-shape-1,
    .team-shape-one-1 {
        top: 10px;
        right: 10px;
    }
    .blog-shape-one-1 {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .service-one-shape-2 {
        bottom: 10px;
        left: 10px;
    }
    .loading-container {
        max-width: 270px;
    }
    .loading-container::before {
        bottom: 5px;
    }
    .about-two-cta-box {
        width: calc(100% - 24px);
        left: auto;
        padding: 30px 15px;
        column-gap: 15px;
    }
    ul.why-choose-three-counter {
        padding-right: 0px;
    }
    .testimonial-three button.slick-prev.slick-arrow {
        right: 40px;
    }
    .testimonial-three button.slick-arrow {
        font-size: 30px;
        bottom: 40px;
    }
}

@media only screen and (max-width:479px) {
    body {
        font-size: 14px;
        line-height: 24px;
    }
    .main-menu-logo {
        max-width: 150px;
    }
    .search-btn {
        font-size: 20px;
        line-height: 0;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
        line-height: 35px;
    }
    h3 {
        font-size: 22px;
        line-height: 35px;
    }
    h4 {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    h5 {
        font-size: 18px;
        line-height: 28px;
    }
    .col-6 {
        width: 100%;
    }
    .about-four .col-6 {
        width: 50%;
    }
    .banner-one-happy-client {
        font-size: 30px;
        line-height: 40px;
    }
    .partner-one {
        padding: 10px 0;
    }
    .process-one {
        padding: 50px 0;
    }
    .process-one-box {
        max-width: 100%;
    }
    .process-one-box-devider::after {
        width: 100%;
    }
    .case-studies-one {
        padding-top: 50px;
    }
    .cta-one {
        padding: 50px 0;
    }
    .inquiry-form-group-one {
        margin-bottom: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .service-one-box {
        flex-direction: column;
        align-items: baseline;
    }
    .service-one-box a {
        margin-top: 10px;
    }
    .why-choose-box-one-title {
        margin-bottom: 5px;
    }
    .banner-one-info {
        height: 760px;
    }
    .banner-one-slider ul.slick-dots {
        display: none !important;
    }
    .testimonial-one-item p {
        font-size: 16px;
        line-height: 24px;
    }
    .banner-one-review-inner {
        flex-wrap: wrap;
    }
    .features-one-image {
        height: 320px;
    }
    .why-choose-one-image,
    .why-choose-one-image-2 {
        height: 150px;
    }
    .blog-one {
        padding-bottom: 50px;
    }
    .inquiry-one {
        padding-top: 50px;
    }
    .inquiry-shape-one-1 {
        bottom: 10px;
        right: 10px;
    }
    .partner-slider-logo {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .curved-circle--item {
        font-size: 16px;
        line-height: 30px;
    }
    .services-two-shape-one-1,
    .case-studies-two-shape-one-1,
    .blog-two-shape-1,
    .about-one-shape-1 {
        top: 10px;
        right: 10px;
    }
    .services-two-shape-one-2 {
        bottom: 10px;
    }
    ul#services-tab li,
    ul.services-two-features li {
        width: 100%;
    }
    .blog-two-shape-2,
    .about-one-shape-2 {
        bottom: 10px;
        left: 10px;
    }
    .case-studies-two .case-studies-slider-item-two {
        padding: 5px;
    }
    .case-studies-item-inner-two {
        width: 300px;
        height: 500px;
    }
    .case-studies-item-inner-two:hover .case-studies-two-tagline {
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .case-studies-two-details h4 {
        margin-bottom: 10px;
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .case-studies-two-details {
        left: 15px;
        width: calc(100% - 30px);
        bottom: 15px;
    }
    .cta-two-category-img {
        height: 50px;
    }
    .process-two-box {
        padding: 15px;
        width: 300px;
    }
    .testimonial-two button.slick-arrow {
        left: 36%;
        top: 105%;
        transform: translateX(-50%);
    }
    .testimonial-two button.slick-next.slick-arrow {
        right: 16%;
    }
    .testimonial-slider-two {
        margin: 0;
    }
    .testimonial-slider-two-item {
        padding: 0px 0px;
        margin: 15px;
    }
    .logo-shape {
        top: 412px;
    }
    .about-two-info {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .testimonial-three {
        padding-top: 100px;
    }
    .testimonial-three-block {
        padding: 20px;
    }
    .process-three {
        padding: 50px 20px;
    }
    ul.bradcrumb li a {
        font-size: 14px;
    }
    ul.bradcrumb li::before {
        right: -18px;
    }
    .team-details-block .from-group {
        margin-bottom: 20px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    ul.bradcrumb {
        column-gap: 25px;
    }
    .inner-page-hero {
        padding: 90px 0;
    }
    .section-404,
    .apply-loan-section {
        padding: 60px 0;
    }
    .apply-loan-section .form-group {
        row-gap: 10px;
        margin-bottom: 15px;
    }
    .apply-loan-section .form-group input,
    .apply-loan-section .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 10px 15px;
    }
    .apply-loan-section .heading-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .blog-item-tagline {
        top: 10px;
        left: 10px;
    }
    .job-title {
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .job-details {
        width: 100%;
    }
    .job-type {
        column-gap: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .accordion-button {
        font-size: 18px;
    }
    ul.services-details-list li {
        width: 100%;
    }
    .why-choose-one-image img,
    .why-choose-one-image-2 img {
        transform: scale(1.2) !important;
        top: 0;
    }
    .banner-one-slider-item-image img {
        object-position: 70%;
    }
    .why-choose-left-one {
        padding-right: 12px;
    }
    .features-one-image {
        padding-right: 0px;
    }
    .case-studies-background {
        background-position: 67%;
    }
    .testimonial-slider-one button.slick-next.slick-arrow {
        left: 210px;
    }
    .testimonial-slider-one button.slick-arrow {
        left: 130px;
    }
    .process-secound-info {
        padding: 30px 0;
    }
    .process-secound-section {
        background-size: 81%;
    }
    .testimonial-two.services-testimonial {
        padding-top: 0;
    }
    .careers-section::after {
        height: 553.5px;
    }
    .careers-tab-links {
        row-gap: 10px;
    }
    .careers-tab-link {
        width: 100%;
        justify-content: flex-start;
    }
}

@media only screen and (max-width:400px) {
    .main-menu-right a:last-child {
        display: none;
    }
    .banner-one-info {
        padding: 190px 0 95px;
        height: 790px;
    }
    ul.bradcrumb {
        flex-wrap: wrap;
    }
}